<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <% if user_signed_in? %>
                Logged in as <%= User.find_by(id: current_user.id).name %>
            <% end %>
            <a href="/">Home</a> 
            <% if user_signed_in? %>
                <a href="/profile">Profile</a>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a href="/users/sign_up">Sign up</a>
                <a href="/users/sign_in">Log in</a>
            <% end %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<section class="banner subbanner" >
    <header>
        <h2>Profile</h2>
    </header>
</section>

<div class="inner">
    <h6></h6>
    <form method="post" action="#">
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                <input type="text" name="name" id="demo-name" placeholder="Name"
                value="<%= User.find_by(id: current_user.id).name %>" />
            </div>
            <!-- Break -->

            <div class ="inner">
            <h2> Select up to 5 clubs you are in! </h2>
            </div>

            <% num = 1 %>
            <% while num < 6 do %>
            <div class="12u$">
                <div class="select-wrapper">
                    <select class="club" name= <%= "club#{num}" %> id= <%= "club#{num}" %> >
                        <option value=""><%= "- Club #{num} -" %></option>
                        <% @clubs.each_with_index do |club, index| %>
                            <option value= <%= "#{index}" %> ><%= club %></option>
                        <% end %>
                    </select>
                </div>
            </div>
                <% num = num + 1 %>
            <% end %>
            <!-- Break -->
            <input type-"hidden" style="display: none" name="user_id" value= <%= "#{@curr_user_id}" %> />

            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Update Profile" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>