<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <% if user_signed_in? %>
                Logged in as <%= User.find_by(id: current_user.id).name %>
            <% end %>
            <a href="/">Home</a> 
            <% if user_signed_in? %>
                <a href="/profile">Profile</a>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a href="/users/sign_up">Sign up</a>
                <a href="/users/sign_in">Log in</a>
            <% end %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<section class="banner subbanner" >
    <header>
        <h2>Profile</h2>
    </header>
</section>

<div class="inner">
    <form method="post" action="#">
        <div class="row uniform profile-form">
            <div class ="flex-center">
            <h2> Let us know you a bit better! </h2>
            </div>
            <div class="6u 12u$(xsmall)">
                <input type="text" name="name" id="demo-name" placeholder="Name"
                value="<%= User.find_by(id: current_user.id).name %>" />
            </div>
            <div class="6u 12u$(xsmall)">
                <input type="text" name="gradYear" id="gradYear" placeholder="Graduation Year (ex. 2024)"
                value="<%= User.find_by(id: current_user.id).gradYear %>" />
            </div>
            <div class ="flex-center">
            <h2> Select your major! </h2>
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    <select name="major" id="major" >
                        <% currMajor = "Major" %>
                        <% if User.find_by(id: current_user.id).major != nil %>
                            <% currMajor = User.find_by(id: current_user.id).major %>
                        <% end %>
                        <option value="-1"><%= "#{currMajor}" %></option>
                        <% @courseAbbreviationsAndNames.each_with_index do |(subject, courses), index| %>
                            <option value= <%= "#{index}" %> ><%= subject %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <!-- Break -->
            <div class ="flex-center">
            <h2> Select up to 5 clubs you are in! </h2>
            </div>

            <% num = 1 %>
            <% while num < 6 do %>
            <div class="12u$">
                <div class="select-wrapper">
                    <select class="club" name= <%= "club#{num}" %> id= <%= "club#{num}" %> >
                        <option value=""><%= "- Club #{num} -" %></option>
                        <% @clubs.each_with_index do |club, index| %>
                            <option value= <%= "#{index}" %> ><%= club %></option>
                        <% end %>
                    </select>
                </div>
            </div>
                <% num = num + 1 %>
            <% end %>
            <!-- Break -->
            <div class ="flex-center">
            <h2> Select up to 5 of your favorite classes taken! </h2>
            </div>

            <% num = 1 %>
            <% while num < 6 do %>
            <div class="12u$">
                <div class="field half first select-wrapper">
                    <select class="course" name= <%= "course#{num}" %> id= <%= "course#{num}" %> >
                        <% currCourse = "- Course #{num} -" %>
                        <% courseName = "subject#{num}" %>
                        <% temp = User.find_by(id: current_user.id).attributes[courseName] %>
                        <% if temp != nil and temp != "" %>
                            <% currCourse = temp %>
                        <% end %>
                        <option value="-1"><%= "#{currCourse}" %></option>
                        <% @courseAbbreviationsAndNames.each_with_index do |(subject, courses), index| %>
                            <option value= <%= "#{index}" %> ><%= subject %></option>
                        <% end %>
                    </select>
                </div>

                <div class="field half"> 
                    <% courseSym = "course#{num}" %>
                    <input type="text" name= <%= "courseNum#{num}" %> id= <%= "courseNum#{num}" %> value= "<%= User.find_by(id: current_user.id).attributes[courseSym] %>" placeholder="Course Number" />
                </div>
            </div>
                <% num = num + 1 %>
            <% end %>
            <!-- Break -->

            <input type="hidden" style="display: none" name="user_id" value= <%= "#{@curr_user_id}" %> />

            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Update Profile" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>