<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <% if user_signed_in? %>
                Logged in as <%= User.find_by(id: current_user.id).name %>
            <% end %>
            <a href="/">Home</a> 
            <% if user_signed_in? %>
                <a href="/profile">Profile</a>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a href="/users/sign_up">Sign up</a>
                <a href="/users/sign_in">Log in</a>
            <% end %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>




<section class="banner become-tutor-banner subbanner" >
<h2 color="white">Assist: Become a Tutor!</h2>
</section>

<div class="inner" id = "assist">
    
    <form method="post" action="#">
        
            <div class="row find-a-tutor uniform">
                <div class="col-lg-7 col-md-4 col-sm-1 col-xs-1">	
                    <select name="major" id="major">
                        <option value="">- Select the department for your course -</option>
                        <% @courseAbbreviationsAndNames.each_with_index do |(k, v), index| %>
                            <option value= <%= "#{index}" %> ><%= "#{k}" %></option>
                        <% end %>
                    </select>
                </div>
                
                
                <div class="col-lg-3 col-md-4 col-sm-7 col-xs-7">		
                <input name="courseNum" id="courseNum" type="number" value="" placeholder="Course Number" >	
                </div>
                <!-- Break -->
            <div class="12u$">
                <input type="text" name="Grade" id="Grade" value="" placeholder="Grade Recieved (Optional)" />
            </div>

            <div class="12u$">
                <input type="text" name="Availability" id="Availability" value="" placeholder="Hours Available per Week" />
            </div>

            <div class="12u$">
                <input type="text" name="Pay" id="Pay" value="" placeholder="Expected Pay per Hour" />
            </div>
            <!-- Break -->
            <input type-"hidden" style="display: none" name="user_id" value= <%= "#{@curr_user_id}" %> />
            <!-- Break -->
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Submit" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
            

            </div>
            
        
    </form>
</div>




