<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <% if user_signed_in? %>
                Logged in as <%= User.find_by(id: current_user.id).name %>
            <% end %>
            <a href="/">Home</a> 
            <% if user_signed_in? %>
                <a href="/profile">Profile</a>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a href="/users/sign_up">Sign up</a>
                <a href="/users/sign_in">Log in</a>
            <% end %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>




<section class="banner request-tutor-banner subbanner" >
<h2 color="white">Request: Find a Tutor!</h2>
</section>

<form method="post" action="#">

<div class="container">
  <div class="row find-a-tutor">
  	<div class="col-lg-7 col-md-4 col-sm-1 col-xs-1">	

            <select name="searchCourseMajor" id="searchCourseMajor">
                        <option value="">- Select the department for your course -</option>
                        <% @courseAbbreviationsAndNames.each_with_index do |(k, v), index| %>
                            <option value= <%= "#{index}" %> ><%= k %></option>
                        <% end %>
            </select>
	</div>
    <div class="col-lg-3 col-md-4 col-sm-7 col-xs-7">		
		<input name="searchCourseNumber" id="searchCourseNumber" type="number" aria-label="Search">	
	</div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
		<button type="submit" class="button special icon fa-search" id="search-button">
			Search
		</button>
		
	</div>
	
  </div>
  
</div>
</form>




<div class="row gallery">
	
	<% @tutors.each do |tutor| %>
	<div class="col-lg-3 col-md-4 col-sm-6 gallery-box card">
		
		<div class="card-body">
			<div class="card-title"><h5><%= tutor.subject + " " + tutor.number %></h5></div>
			<div class="card-content">
				
				<p>
				<h5>Grade received by tutor (optional):</h5><%= tutor.grade %><br>
				
                <h5>Number of hours willing to tutor:</h5><%= tutor.availability %><br>
				
				<h5>Desired pay range:</h5><%= tutor.pay %><br>
				</p> 
			</div>
			<div class="card-button">
                <% @email= User.find_by(id: tutor.user_id).email %>
				<a href=<%= "mailto:#{@email}" %> class="button">Connect me!</a>
			</div>
			
			
		</div>
	</div>
		
<% end %>
	
</div>








