<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <% if user_signed_in? %>
                Logged in as <%= User.find_by(id: current_user.id).name %>
            <% end %>
            <a href="/">Home</a> 
            <% if user_signed_in? %>
                <a href="/profile">Profile</a>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a href="/users/sign_up">Sign up</a>
                <a href="/users/sign_in">Log in</a>
            <% end %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>



<div>
<section class="banner find-study-room subbanner" >
<h2 color="white">Study: Join a Room!</h2> 
</section>
<div class="inner">
<div class="inner">
<a class="button fit" id="xrdalao" href="/newroom">Create A New Study Room</a>
</div>
</div>
<div id = "xrtql">
		<div id="main2">
			<div class="inner">
			<%cnt = 0%>
				<div class="thumbnails">
				    
					<% @room.each do |room| %>
						<%a = rand(12)%>
						<%if a == 0%>
						<div class="box">
							<a class="image fit"><img src="assets/study1.jpg" alt=""></a>
							<div class="inner">
							    <div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 1%>
						<div class="box">
							<a class="image fit"><img src="assets/study2.jpg" alt=""></a>
							<div class="inner">
							<div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 2%>
						<div class="box">
							<a class="image fit"><img src="assets/study3.jpg" alt=""></a>
							<div class="inner">
							<div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 3%>
						<div class="box">
							<a class="image fit"><img src="assets/study4.jpg" alt=""></a>
							<div class="inner">
							<div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 4%>
						<div class="box">
							<a class="image fit"><img src="assets/study5.jpg" alt=""></a>
							<div class="inner">
							<div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 5%>
						<div class="box">
							<a class="image fit"><img src="assets/study6.jpg" alt=""></a>
							<div class="inner">
							<div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 6%>
						<div class="box">
							<a class="image fit"><img src="assets/study7.jpg" alt=""></a>
							<div class="inner">
							<div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 7%>
						<div class="box">
							<a class="image fit"><img src="assets/study8.jpg" alt=""></a>
							<div class="inner">
							    <div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 8%>
						<div class="box">
							<a class="image fit"><img src="assets/study9.jpg" alt=""></a>
							<div class="inner">
							    <div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 9%>
						<div class="box">
							<a class="image fit"><img src="assets/study10.jpg" alt=""></a>
							<div class="inner">
							    <div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 10%>
						<div class="box">
							<a class="image fit"><img src="assets/study11.jpg" alt=""></a>
							<div class="inner">
							    <div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%if a == 11%>
						<div class="box">
							<a class="image fit"><img src="assets/study12.jpg" alt=""></a>
							<div class="inner">
							    <div id = "dalaoxr">
							    <p id = "xr">Major: <%= room.major%></p>
								<p id = "xr">Capacity: <%= room.current_number_student%>/<%= room.capacity%></p>
								<p id = "xr">Description: <%= room.description%></p>
								</div>
								<a class="button fit">Join</a>
							</div>
						</div>
						<%end%>
						<%cnt = cnt+1%>
						<%if cnt>=15%>
						  <%break%>
						<%end%>
					<%end%>
				</div>
			</div>
		</div>
</div>	